* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

nav {
  background-color: #ffffff;
  display: flex;
  gap: 40px;
  color: rgb(0, 0, 0);
  line-height: 1rem;
  font-size: 20px;
  font-weight: bold;
}
nav .logo {
  height: 100px;
  width: 250px;
  background-color: white;
  align-content: left;
  justify-content: left;
  align-self: left;
  margin-left: 60px;
}

nav .innernav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  margin-right: 60px;
}

.hero-div {
  height: 500px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.hero-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-div .hero1 {
  font-size: 75px;
  height: 20vh;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.hero-div .hero1 .million {
  color: rgb(246, 24, 209);
  line-break: initial;
}
.hero-div .hero-div2 {
  font-size: 20px;
  height: 15vh;
  line-height: 2;
  text-align: center;
  font-weight: lighter;
}

.hero-div .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-div .button1{
  background-color: #EE82EE; 
  color: white;            
  padding: 10px 20px;     
  border: none;            
  border-radius: 20px;      
  cursor: pointer;        
  font-size: 16px; 

}
.hero-div .button2{
  background-color: #0631ee; 
  color: rgb(246, 246, 246);            
  padding: 10px 20px;     
  border: none;            
  border-radius: 20px;      
  cursor: pointer;        
  font-size: 16px; 
}